<form [formGroup]="connectionForm" (ngSubmit)="submit()">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Node</mat-label>
        <input type="text" placeholder="Select node" aria-label="Node" matInput formControlName="name"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredNodes " [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>To node</mat-label>
        <input type="text" placeholder="Select node to connect" aria-label="Node to connect" matInput
          formControlName="toName" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredNodes " [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Character</mat-label>
        <input matInput autocomplete="off" formControlName="character">
      </mat-form-field>
      <mat-checkbox formControlName="isRegularExpression">Regular expression</mat-checkbox>
      <mat-checkbox formControlName="visible">Visible</mat-checkbox>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <button color="primary" mat-raised-button type="submit">Accept</button>
        <button color="primary" mat-raised-button type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
