<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['viewProjects']"><mat-icon class="icon">display_settings</mat-icon>View projects</a>
      <a mat-list-item [routerLink]="['viewNodes']"><mat-icon class="icon">article</mat-icon>View nodes</a>
     <!-- <a mat-list-item [routerLink]="['viewNodeConnections']">View nodes with connections</a> -->
      <a mat-list-item [routerLink]="['viewConnections']"><mat-icon class="icon">compare_arrows</mat-icon>View connections</a>
      <a mat-list-item [routerLink]="['deleteAllNodes']"><mat-icon class="icon">article</mat-icon>Delete all nodes</a>
      <a mat-list-item [routerLink]="['deleteAllConnections']"><mat-icon class="icon">compare_arrows</mat-icon>Delete all connections</a>
      <a mat-list-item [routerLink]="['graph']"><mat-icon class="icon">share</mat-icon>View machine</a>
      <a mat-list-item [routerLink]="['runMachine']"><mat-icon class="icon">star</mat-icon>Run Machine</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Vimana Non-deterministic finite automata system</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
