<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
  <button (click)="zoom_in()" mat-fab>
    <mat-icon>zoom_in</mat-icon>
  </button>
  <button mat-fab (click)="zoom_out()">
    <mat-icon>zoom_out</mat-icon>
  </button>
</div>
<canvas #myCanvas width="640" height="400" (contextmenu)="menu($event)"></canvas>
<div #Trigger style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="outSideMenu"></div>
<mat-menu #outSideMenu="matMenu">
  <ng-template matMenuContent>
    <button *ngIf="!menuOutside" mat-menu-item (click)="addNode()">View node</button>
    <button *ngIf="menuOutside" mat-menu-item (click)="selectNodeHide()">Hide node</button>
    <button *ngIf="menuOutside" mat-menu-item (click)="menuViewConnections()">View connections</button>
  </ng-template>
</mat-menu>



